{% include analytics.html %}
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?1294e0fa5e373b1dbf36f4c9fede22f3";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
<!-- Cloudflare Web Analytics -->
<script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "b78f2835aafa4a0a9fc6432eacd159ed"}'></script>
<!-- End Cloudflare Web Analytics -->
