<div class="ui large top fixed borderless hidden menu">
    <div class="ui container">
        <a class="header item" href="{{ '/' | relative_url }}">
            <div class="ui middle aligned image">
                <img class="logo-image" src="{{ site.logo_dark }}" alt="Logo">
            </div>
            <div class="logo-text">{{ site.alias_en }}</div>
        </a>
        {% include menu_items.html %}
        <div class="right menu">
            <a class="item" href="https://unlockmusic.qwejay.cn" target="_blank"><i class="file audio icon"></i>音乐解锁</a>
            <a class="item" href="https://qwejay.cn:5111" target="_blank"><i class="music icon"></i>我的音乐</a>
            <a class="item" href="https://qwejay.cn:5222" target="_blank"><i class="film icon"></i>我的电影</a>
            <a class="item" href="https://qwejay.cn:5444" target="_blank"><i class="images icon"></i>我的相册</a>
            <a class="item" href="https://qwejay.cn:5200" target="_blank"><i class="images icon"></i>登录NAS</a>
        </div>
    </div>
</div>