<div class="ui text container">
    {% include banner.html %}
    <h1 class="ui inverted logo header">
        <img class="ui centered image" src="{{ site.logo_white }}" alt="Logo">
    </h1>
    <h2 class="ui inverted header">{{ site.index_title }}</h2>
    <div id="search-shortcuts" class="ui labels">
        {% for item in site.data.search_services %}{% if item.shortcut %}<a class="ui {{ item.shortcut.style }} label{% unless item.shortcut.show %} hidden{% endunless %}" data-search-service-id="{{ item.id }}" data-tooltip="{{ item.name }}" data-variation="mini basic" data-position="top center" data-inverted=""><i class="{{ item.shortcut.icon }} fitted icon"></i></a>{% endif %}{% endfor %}
    </div>
    <div class="ui inverted fluid right action input" id="search-div">
        <input id="search-query" type="text" placeholder="搜索" autofocus="autofocus">
        <select id="search-services" class="ui compact selection dropdown">
            {% for item in site.data.search_services %}<option id="{{ item.id }}" value="{{ item.id }}" data-url="{{ item.url }}" {% if item.transcode %}data-transcode="true" data-transcode-from="{{ item.transcode.from }}" data-transcode-to="{{ item.transcode.to }}"{% else %}data-transcode="false"{% endif %}>{{ item.name }}</option>{% endfor %}
        </select>

        <div id="container">
            <div id="wrapper">
                <div id="logo">  <img src="必应.png" alt="tupian" id="logo"> </div>
                <form action="https://www.baidu.com/s" target="_self" method="get">
                    <input type="text" id="search-input" name="wd" placeholder="请输入要搜索的内容：" autofocus="">
                    <input type="submit" id="search-button" value="">
                </form>
            </div>
        </div> 

    </div>
    <div id="badges">
        <a id="douyin" href="https://creator.douyin.com/" target="_blank"><img src="" alt=""></a>
        <a id="twitter" href="https://www.zhihu.com/people/qwejayhuang" target="_blank"><img src="" alt=""></a>
        <a id="github" href="https://github.com/qwejay" target="_blank"><img src="" alt=""></a>
        <a id="date" href="#" target="_blank"><img src="" alt=""></a>
        <a id="license" href="https://opensource.org/licenses/MIT" target="_blank"><img src="" alt=""></a>
        <a id="last-commit" href="https://github.com/Qwejay/QWENAVI" target="_blank"><img src="" alt=""></a>
    </div>
    <div class="ui inverted selection link list">

    </div>
    <div class="ui black label"><i class="globe icon"></i>支持 IPv6 访问</div>
</div>