<div class="ui text container">
    {% include banner.html %}
    <h1 class="ui inverted logo header">
        <img class="ui centered image" src="{{ site.logo_white }}" alt="Logo">
    </h1>
    <h2 class="ui inverted header">{{ site.index_title }}</h2>
    <div id="search-shortcuts" class="ui labels">
        {% for item in site.data.search_services %}{% if item.shortcut %}<a class="ui {{ item.shortcut.style }} label{% unless item.shortcut.show %} hidden{% endunless %}" data-search-service-id="{{ item.id }}" data-tooltip="{{ item.name }}" data-variation="mini basic" data-position="top center" data-inverted=""><i class="{{ item.shortcut.icon }} fitted icon"></i></a>{% endif %}{% endfor %}
    </div>

    <div id="container">
        <div class="search bar6">
            <form action="https://www.baidu.com/s" target="_self" method="get">
                <input type="text" id="search-input" name="wd" placeholder="搜索" autofocus="">
                <button type="submit"></button>
            </form>
        </div>
    </div>

    <div class="ui inverted selection link list">

    </div>
    <div class="ui black label"><i class="globe icon"></i>支持 IPv6 访问</div>
</div>