<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="repository" content="{{ site.repository }}">
    <meta name="updated_at" content="{{ site.time | date_to_xmlschema }}">
    <meta name="established_at" content="{{ site.established_at }}">
    {% seo %}
    <link rel="stylesheet" type="text/css" href="//unpkg.zhimg.com/fomantic-ui/dist/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="{{ '/assets/css/common.css' | relative_url }}">
    {% if page.active_key == 'home' %}<link rel="stylesheet" type="text/css" href="{{ '/assets/css/home.css' | relative_url }}">{% endif %}
    {% if page.active_key == 'customize' %}<link rel="stylesheet" type="text/css" href="{{ '/assets/css/customize.css' | relative_url }}">{% endif %}
    {% if page.active_key == 'donate' %}<link rel="stylesheet" type="text/css" href="{{ '/assets/css/donate.css' | relative_url }}">{% endif %}
    {% if page.active_key == 'search' %}<link rel="stylesheet" type="text/css" href="{{ '/assets/css/search.css' | relative_url }}">{% endif %}
    {% if page.active_key == 'error' %}<link rel="stylesheet" type="text/css" href="{{ '/assets/css/error.css' | relative_url }}">{% endif %}
    <link rel="stylesheet" type="text/css" href="{{ '/assets/css/masthead.css' | relative_url }}">
    {% if page.active_key == 'home' and site.data.style.memorial %}<link rel="stylesheet" type="text/css" href="{{ '/assets/css/grayscale.css' | relative_url }}">{% endif %}
    <link rel="apple-touch-icon" type="image/png" href="{{ '/apple-touch-icon.png' | relative_url }}">
    <link rel="icon" type="image/x-icon" href="{{ '/favicon.ico' | relative_url }}">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/aplayer@1.10.0/dist/APlayer.min.css">
    <div id="aplayer"></div>
    <script src="https://cdn.jsdelivr.net/npm/aplayer@1.10.0/dist/APlayer.min.js"></script>
    <script type="text/javascript" src="{{ '/assets/js/music.js' | relative_url }}"></script>
<script>
const ap = new APlayer({
    container: document.getElementById('player'),
    fixed: true,
    preload: 'metadata',
    audio: [{
        name: '光るなら',
        artist: 'Goose house',
        url: 'https://cn-south-17-aplayer-46154810.oss.dogecdn.com/hikarunara.mp3',
        cover: 'https://cn-south-17-aplayer-46154810.oss.dogecdn.com/hikarunara.jpg',
        theme: '#ebd0c2'
    }]
});
</script>
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?1294e0fa5e373b1dbf36f4c9fede22f3";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>

</head>
<body>
    {% include following_menu.html %}
    {% include sidebar.html %}
    <div class="pusher">
        {% include header.html %}
        {{ content }}
        {% include footer.html %}
    </div>
    <div id="player1"></div>
        <p></p>
        <button onclick="ap1.play()">ap.play()</button>
        <button onclick="ap1.seek(100)">ap.seek(100)</button>
        <button onclick="ap1.pause()">ap.pause()</button>
        <button onclick="ap1.toggle()">ap.toggle()</button>
        <button onclick="ap1.volume(0.1)">ap.volume(0.1)</button>
        <button onclick="ap1.addAudio([
            {
                name: 'あっちゅ～ま青春!',
                artist: '七森中☆ごらく部',
                url: 'https://cn-south-17-aplayer-46154810.oss.dogecdn.com/yuruyuri.mp3',
                cover: 'https://cn-south-17-aplayer-46154810.oss.dogecdn.com/yuruyuri.jpg'
            },
            {
                name: 'secret base~君がくれたもの~',
                artist: '茅野愛衣',
                url: 'https://cn-south-17-aplayer-46154810.oss.dogecdn.com/secretbase.mp3',
                cover: 'https://cn-south-17-aplayer-46154810.oss.dogecdn.com/secretbase.jpg'
            },
            {
                name: '回レ！雪月花',
                artist: '小倉唯',
                url: 'https://cn-south-17-aplayer-46154810.oss.dogecdn.com/snowmoonflowers.mp3',
                cover: 'https://cn-south-17-aplayer-46154810.oss.dogecdn.com/snowmoonflowers.jpg'
            }
        ])">ap.addAudio(...)</button>
        <button onclick="ap1.destroy()">ap.destroy()</button>
        <h3>With playlist</h3>
        <div id="player4" class="aplayer"></div>
        <p></p>
        <button onclick="ap4.switchAudio(2)">ap.switchAudio(2)</button>
        <h3>With lyrics</h3>
        <div id="player3" class="aplayer"></div>
        <h3>With playlist and lyrics</h3>
        <div id="player5" class="aplayer"></div>
        <h3>Narrow</h3>
        <div id="player2" class="aplayer"></div>
        <h3>HLS</h3>
        <div id="player6" class="aplayer"></div>
        <div id="player7" class="aplayer"></div>
        <div id="player8" class="aplayer"></div>
	<div class="const"></div>
	<div id="player1"></div>
	<div id="const">
    </div>
	<script type="text/javascript" src="//unpkg.zhimg.com/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="//unpkg.zhimg.com/fomantic-ui/dist/semantic.min.js"></script>
    <script type="text/javascript" src="{{ '/assets/js/common.js' | relative_url }}"></script>
    {% if page.active_key == 'home' %}<script type="text/javascript" src="//unpkg.zhimg.com/dayjs/dayjs.min.js"></script>
    <script type="text/javascript" src="//unpkg.zhimg.com/dayjs/locale/zh-cn.js"></script>
    <script type="text/javascript" src="//unpkg.zhimg.com/dayjs/plugin/relativeTime.js"></script>
    <script type="text/javascript" src="//unpkg.zhimg.com/js-cookie/src/js.cookie.js"></script>
    <script type="text/javascript" src="{{ '/assets/js/suggest-query.min.js' | relative_url }}"></script>
    {% if site.data.banner.message.hitokoto %}<script type="text/javascript" src="{{ '/assets/js/hitokoto.js' | relative_url }}"></script>{% endif %}
    <script type="text/javascript" src="{{ '/assets/js/home.js' | relative_url }}"></script>{% endif %}
    {% if page.active_key == 'customize' %}<script type="text/javascript" src="//unpkg.zhimg.com/js-cookie/src/js.cookie.js"></script>
    <script type="text/javascript" src="{{ '/assets/js/customize.js' | relative_url }}"></script>{% endif %}
    <script type="text/javascript" src="//unpkg.zhimg.com/countup.js@1.9.3/dist/countUp.min.js"></script>
    <script type="text/javascript" src="//unpkg.zhimg.com/echarts@4.9.0/dist/echarts.min.js"></script>
    <script type="text/javascript" src="//unpkg.zhimg.com/echarts@4.9.0/map/js/world.js"></script>
    {% if page.active_key == 'search' %}<script type="text/javascript" src="//unpkg.zhimg.com/js-url/url.min.js"></script>
    <script type="text/javascript" src="{{ '/assets/js/search.js' | relative_url }}"></script>{% endif %}
</body>
</html>